@model TransferListModel
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

@section Scripts
{
	<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

	<script>
		$(function () {
			$("#transfers").DataTable({
				processing: true,
				serverSide: true,
				responsive: true,
				searching: false,
				lengthChange: false,
				autoWidth: true,
				lengthMenu: [
					[10, 25, 50, -1],
					[10, 25, 50, 'All']
				],
				ajax: {
					url: "/Admin/Transfer/GetTransferJsonData",
					type: "POST",
					contentType: "application/json",
					dataType: "json",
					data: function (d) {
						d.SearchItem = {
						};
						return JSON.stringify(d);
					},
				},
				columnDefs: [
					{
						className: "text-center",
						targets: "_all"
					},
					{
						orderable: true,
						targets: 0,
						render: function (data) {
							const date = new Date(data);
							const day = date.getDate().toString().padStart(2, '0');
							const month = date.toLocaleString('default', { month: 'short' });
							const year = date.getFullYear();
							return `${day}-${month}-${year}`;
						}
					},
					{
						orderable: false,
						targets: 6,
						render: function (data, type, row) {
							console.log(type);
							return `<button type="submit" class="btn btn-sm show-bs-modal" data-id='${data}' value='${data}'>
										<i class="fas fa-trash">
										</i>
									</button>`;
						}
					}
				],
				"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
			}).buttons().container().appendTo('#transfers_wrapper .col-sm-12:eq(0)');

			$('#transfers').on('click', '.show-bs-modal', function (event) {
				let id = $(this).data("id");
				let modal = $("#modal-default");
				modal.find('.modal-body p').text('Are you sure you want to delete this record?');
				$("#deleteId").val(id);
				$("#deleteForm").attr("action", "/admin/transfer/delete");
				modal.modal('show');
			});

			$("#deleteButton").click(function () {
				$("#deleteForm").submit();
			});
		});
	</script>
}



<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="card" style="min-height: 400px;">
			<div class="card-body">
				<div class="row mb-1">
					<div class="col-sm-11">
						<h5>Stock Transfers</h5>
					</div>
					<div class="col-sm-1">
						<button type="button" class="btn btn-info btn-sm" style="height:30px" onclick="window.location.href='/admin/transfer/create/'">
							<p>
								<i _ngcontent-yib-c224="" class="fas fa-plus">

								</i>&nbsp;Add
							</p>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h1 class="border-bottom border-1 border-info"></h1>
						<partial name="_ResponsePartial" />
						<partial name="_ModalPartial" />
						<table id="transfers" class="table table-bordered table-striped">
							<thead style="background: #17A2B8">
								<tr style="color:white">
									<th class="col-2">Date</th>
									<th>Product</th>
									<th>From</th>
									<th class="col-2">To</th>
									<th>Quantity</th>
									<th>Note</th>
									<th class="col-1">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center"></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

