@model UnitUpdateModel

<div class="modal fade" id="updateUnitModal" tabindex="-1" role="dialog" aria-labelledby="updateUnitModalLabel" aria-hidden="true" onclick="window.location.href='/admin/unit/update/${data}'" value='${data}'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUnitModalLabel">Manage Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Unit Name *</p>
                <form id="updateUnitForm" asp-antiforgery="true" asp-area="Admin" asp-controller="Unit" asp-action="" method="post">
                        <input type="hidden" id="UnitId" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" />
                            <input type="text" id="Name" asp-for="Name" class="form-control">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col text-start">
                    <button type="button" id="updateButton" class="btn btn-success btn-sm">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                        <i class="bi bi-x-circle"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
