@{
	ViewData["Title"] = "Index";
}

@section Styles
{
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

@section Scripts
{
	<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

	<script>
		$(function () {
			$("#categories").DataTable({
				processing: true,
				serverSide: true,
				responsive: true,
				searching: false,
				lengthChange: false,
				autoWidth: false,
				lengthMenu: [
					[10, 25, 50, -1],
					[10, 25, 50, 'All']
				],
				ajax: {
					url: "/Admin/Category/GetCategoryJsonData",
					type: "POST",
					contentType: "application/json",
					dataType: "json",
					data: function (d) {
						d.SearchItem = {
						};
						return JSON.stringify(d);
					},
				},
				columnDefs: [
					{
						orderable: false,
						targets: 1,
						render: function (data, type, row) {
							return `<button type="submit" class="btn btn-success btn-sm show-bs-EditModal" style="width:28px" data-id='${row[1]}' data-name='${row[0]}'>
																						<i class="fas fa-pencil-alt">
																						</i>
																					</button>
																					<button type="submit" class="btn btn-danger btn-sm show-bs-modal" style="width:28px" data-id='${data}' value='${data}'>
																						<i class="fas fa-trash">
																						</i>
																					</button>`;
						}
					}
				],
				"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
			}).buttons().container().appendTo('#units_wrapper .col-md-6:eq(0)');

			$('#categories').on('click', '.show-bs-EditModal', function (event) {
				let id = $(this).data("id");
				let categoryName = $(this).data("name");
				let modal = $("#updateCategoryModal");
				modal.find('.modal-body p').text('Category Name *');
				$("#CategoryId").val(id);
				$("#Name").val(categoryName);
				$("#updateForm").attr("action", "/admin/category/update");
				modal.modal('show');
			});

			$('#categories').on('click', '.show-bs-modal', function (event) {
				let id = $(this).data("id");
				let modal = $("#modal-default");
				modal.find('.modal-body p').text('Are you sure you want to delete?');
				$("#deleteId").val(id);
				$("#deleteForm").attr("action", "/admin/category/delete");
				modal.modal('show');
			});

			$("#deleteButton").click(function () {
				$("#deleteForm").submit();
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#submitCategoryForm').click(function (e) {
				e.preventDefault();
				var formData = $('#createCategoryForm').serialize();
				$('#form-errors').text('');
				$.ajax({
					url: '/Admin/Category/Create',
					method: 'POST',
					data: formData,
					success: function (response) {
						$('#createCategoryModal').modal('hide');
						location.reload();
					},
					error: function (jqXHR, textStatus, errorThrown) {
						$('#form-errors').text('Unit creation failed. Please check your inputs and try again.');
					}
				});
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#saveCategoryButton').click(function (e) {
				e.preventDefault();
				var formData = $('#updateCategoryForm').serialize();

				$.ajax({
					url: $('#updateCategoryForm').attr('action'),
					method: 'POST',
					data: formData,
					success: function (response) {
						if (response) {
							$('#updateCategoryModal').modal('hide');
							location.reload();
						}
					},
					error: function (xhr, status, error) {
						location.reload();
					}
				});
			});
		});
	</script>
}
@await Html.PartialAsync("_CategoryUpdateModalPartial")
@* 	!-- Content Header (Page header) -->*@
<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-11">
				<h4>Categories</h4>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn btn-info btn-sm" style="height:30px" data-toggle="modal" data-target="#createCategoryModal">
					<p>
						<i _ngcontent-yib-c224="" class="fas fa-plus"></i>
						Add
					</p>
				</button>
				@await Html.PartialAsync("_CategoryCreateModalPartial")
			</div>
		</div>
	</div><!-- /.container-fluid -->
	<h1 class="border-bottom border-2 border-info"></h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body">
						<partial name="_ResponsePartial" />
						<partial name="_ModalPartial" />
						<table id="categories" class="table table-bordered table-striped">
							<thead style="background: #17A2B8;color:white">
								<tr>
									<th class="col-11">Name</th>
									<th class="col-1">Action</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->