@model SigninModel

@{
    ViewData["Title"] = "Log in";
    <link rel="stylesheet" href="~/css/login.css" />

}

<div class="container bg-white d-flex justify-content-center" style="width: 30%; border-radius: 12px; margin-top: 40px">
    <div class="card-body">
        <h4 class="card-title text-center">Log In</h4>
        <section>
            <form id="account" method="post" asp-antiforgery="true" asp-area="" asp-controller="Account"
                  asp-route-returnUrl="@Model.ReturnUrl" asp-action="Login">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Admin@123" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <button id="login-submit" type="Login" class="btn btn-info" style="width:100%">Log in</button>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <input class="form-check-input" asp-for="RememberMe" />
                        <label asp-for="RememberMe" class="form-label">&nbsp;Remember Me</label>
                    </div>
                    <div>
                        <a id="forgot-password" asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                    </div>
                </div>
            </form>
        </section>
        <div>
            <div class="text-center pt-4">
                <span class="info text-color-6">
                    Don’t have an account?&nbsp;&nbsp;
                    <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </span>

            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
