@model RegistrationModel
@{
    ViewData["Title"] = "Register";
    <link rel="stylesheet" href="~/css/custom-register.css" />
}

<div class="container bg-white d-flex justify-content-center" style="width: 30%; border-radius: 12px">
    <div class="card-body">
        <h4 class="card-title text-center">Sign Up</h4>
        <form id="registerForm" class="p-4" asp-area="" asp-action="Register" asp-controller="Account"
              asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="mb-2">
                <label asp-for="UserName">Username</label><br />
                <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Email">Email</label><br />
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Password">Password</label><br />
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Admin@123" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label><br />
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Admin@123" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button id="registration-submit" type="submit" class="register-submit btn btn-info" style="width:100%">Register</button>
            </div>
            <div class="text-center">
                <span class="form-group">
                    Already have an account?&nbsp;&nbsp;
                    <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                </span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}