@model StockCreateModel
@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    <script>
    </script>

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5>Stock New Item</h5>
            </div>
        </div>
        <!-- /.container-fluid -->
        <h1 class="border-bottom border-2 border-primary"></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="Stock" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Date">Date:&nbsp;</label>
                                        <input type="date" asp-for="Date" class="form-control-inline" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label asp-for="WarehouseId">Branch:&nbsp;</label>
                                        <select asp-for="WarehouseId" asp-items="Model.Warehouses" class="form-control-inline"></select>
                                        <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead style="background: #17A2B8">
                                            <tr class="text-center">
                                                <th class="col-4">Item</th>
                                                <th>Quantity</th>
                                                <th>Cost Per Unit</th>
                                                <th>Profit (%)</th>
                                                <th>Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <select asp-for="ProductId" asp-items="Model.Products" class="form-control"></select>
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </th>
                                                <th>
                                                    <input type="text" asp-for="Quantity" class="form-control" placeholder="Quantity" />
                                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                                </th>
                                                <th>
                                                    <input type="text" asp-for="PurchasePrice" class="form-control" placeholder="Unit price"/>
                                                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                                                </th>
                                                <th>
                                                    <input type="text" asp-for="Profit" class="form-control" placeholder="Example: 10"/>
                                                    <span asp-validation-for="Profit" class="text-danger"></span>
                                                </th>
                                                <th>
                                                    <input type="text" asp-for="Note" class="form-control" placeholder="Note"/>
                                                    <span asp-validation-for="Note" class="text-danger"></span>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                               
                            </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-sm">
                                <i class="fas fa-save"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i _ngcontent-myr-c237="" class="fas fa-times-circle"></i>
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->