@model ProductCreateModel
@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5>Manage Product</h5>
            </div>
    </div><!-- /.container-fluid -->
    <h1 class="border-bottom border-2 border-info"></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input type="text" asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="CategoryId"></label>
                                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="UnitId"></label>
                                        <select asp-for="UnitId" asp-items="Model.Units" class="form-control"></select>
                                        <span asp-validation-for="UnitId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Barcode">Barcode</label>
                                        <div class="input-group">
                                            <input type="text" asp-for="Barcode" class="form-control" readonly />
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-success" id="GenerateBarcodeButton">Generate</button>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Barcode" class="text-danger"></span>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Status"></label>
                                        <select asp-for="Status" class="form-control" placeholder="Select Status">
                                            <option value="Active" selected="selected">Active</option>
                                            <option value="Inactive" selected="selected">Inactive</option>
                                            <option value="" selected="selected">Select Status</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="ImageFile">Upload Image</label>
                                        <input type="file" class="form-control-file" asp-for="ImageFile" accept="image/*" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>                                
                            </div>                                                    
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-sm">
                                <i class="fas fa-save"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i _ngcontent-myr-c237="" class="fas fa-times-circle"></i>
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


@section Scripts {
    <script>
        document.getElementById("GenerateBarcodeButton").addEventListener("click", function () {
            fetch('@Url.Action("GenerateBarcode", "Product")', { method: 'GET' })
                .then(response => response.text())
                .then(barcode => {
                    document.getElementById("Barcode").value = barcode;
                })
                .catch(error => console.error('Error generating barcode:', error));
        });
    </script>
}
